#! /usr/local/bin/expect

spawn ssh $rootUser@$rootHost#foreach($portForward in $portForwards) -L $portForward.getPort():$portForward.getHost():8081#end

expect "*?assword:*"
send "$rootPassword\r"
interact